// Team Section
- var site =  imported.config 
section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Our Amazing Team
        h3.section-subheading.text-muted #{ site.people[0].name}

