// Team Section
- var info =  imported.config 
  section(id="team" class="bg-light-gray")
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Our Amazing Team
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
      each person,i in info.people
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src= person.picFile alt='')
            h4 #{ person.name}
            p.text-muted #{ person.position}
            ul.list-inline.social-buttons
              li
                a(href='')
                  i.fa.fa-twitter
              li
                a(href='')
                  i.fa.fa-facebook
              li
                a(href='')
                  i.fa.fa-linkedin



